<div [@enter]>
  <div class="container-fluid">

    <ngx-slick-carousel class="carousel mycarousel" #slickModal="slick-carousel" [config]="slideConfig">
      <div ngxSlickItem *ngFor="let article of news;let i=index" class="slide myslide" id="Slidenews{{news[i]._id}}">
        <div class="row">
          <div class="col-8">
            <img id="ImageSlidenews{{article._id}}" src="{{article.urlToImage}}">
          </div>
          <div class="col-4">
            {{article.title}}
          </div>
        </div>
      </div>
    </ngx-slick-carousel>

    <div class="row list" id="newslist">
      <div *ngFor="let article of news;let i=index">
        <div [ngClass]="(i+1)%3===0?'grid':''" class="news" id="news{{news[i]._id}}">
          <div class="row">
            <img id="Imagenews{{news[i]._id}}" src="{{article.urlToImage}}">
          </div>
          <div class="row">
            <span>{{article.title}}</span>
          </div>
        </div>
      </div>
    </div>
  </div>

  <ngx-smart-modal #searchModal identifier="searchModal">
    <!-- <h1 *ngIf="modalTitle">Results for {{modalTitle}}</h1> -->
    <h1 id="test"></h1>
    <!-- TODO:Fixme -->
    <div class="newslist" (click)="closeModal()" id="modallist">
      <!-- retrieved -->
      <div *ngFor="let article of news" class="row customContainer">
        <div class="col-3">
          <img src="{{article.urlToImage}}">
        </div>
        <div class="col-9">
          <div class="row title">
            {{article.title}}
          </div>
          <div class="row description">
            {{article.description}}
          </div>
        </div>
      </div>
    </div>
  </ngx-smart-modal>

  <ngx-smart-modal #autocueModal identifier="autocueModal">
    <div class="autocuelist" (click)="autocueModalClose()" id="modallist">
      <div *ngFor="let article of autocueArticles" class="row customContainer">
        <div class="col-3">
          <img src="{{article.urlToImage}}">
        </div>
        <div class="col-9">
          <div class="row title">
            {{article.title}}
          </div>
          <div class="row description">
            {{article.description}}
          </div>
        </div>
      </div>
    </div>
  </ngx-smart-modal>

  <!-- TODO: For debuggin -->
  <button style="position: absolute;top:10px;" (click)="openModal()">Modal</button>

</div>

<button class="scrollbutton up" id="uplist">Scroll Up</button>
<button class="scrollbutton down" id="downlist">Scroll Down</button>
<button id="autocue" class="autocue" (click)="autocueModalOpen()">
  <img src="./assets/icons/autocue.png" alt="">
  <span class="title">Autocue</span>
</button>
