<div class="container">
  <div *ngFor="let notification of notifications;let i=index">
    <div *ngIf="3>i" class="row notification">
      <div class="col-1">
        <div [ngStyle]="{'background-color':  notification.severity }" class="severity">
        </div>
      </div>
      <div class="col-11">
        <div class="row type">
          {{notification.type}}
        </div>
        <div class="row text">
          {{notification.text}}
        </div>
      </div>
    </div>
  </div>
</div>
