<div class="container-fluid">
  <div class="row-fluid time">
    {{today | date:'hh:mm'}} <span class="a">{{today | date:'a'}}</span>
  </div>
  <div class="row-fluid date">
    {{ today| date:'EEEE dd MMMM yyyy'}}
  </div>
  <div class="row-fluid" class="notifications">
    <app-notifications></app-notifications>
  </div>

  <div class="row-fluid" class="weather">
    <app-weather></app-weather>
  </div>

  <div class="row-fluid" class="footer">
    <!-- Jarvis  -->
    <div *ngIf="assistant.IsListening(); else noAssistant">
      <img src="../../../assets/icons/jarvis.png" class="jarvis" alt="">
      <span class="assistant">Jarvis</span>
    </div>

    <ng-template #noAssistant>
      <img src="../../../assets/icons/muted.png" class="jarvis" alt="">
      <span class="noassistant">Jarvis</span>
    </ng-template>
  </div>
</div>
