<div class="container-fluid">
  <div class="row lines">
    <img src="../../../../../assets/icons/partly_cloudy.png" class="midday">
    <img src="../../../../../assets/icons/cloudy.png" class="night">
    <img src="../../../../../assets/icons/rain.png" class="morning">
    <div class="curvedLine"></div>
    <div class="timeLine"></div>
    <!-- FIXME:  on weather the time and temps -->
    <div *ngFor="let event of events;let i=index">
      <div class="eventWrapper" [style.left]="setPosition(event)" id="{{event._id}}" *ngIf="!event.end; else eventSpan">
        <img class="eventIcon" src="../../../../../assets/icons/{{event.icon}}.png" alt="">
        <div class="emptyEvent" [ngClass]="{'selected':i==0}"></div>
      </div>


      <ng-template #eventSpan>
        <div class="eventSpanWrapper" id="{{event._id}}" [style.left]="setPosition(event)"
          [style.width]="setEventWidth(event)">
          <img class="eventSpanIcon" src="../../../../../assets/icons/{{event.icon}}.png" alt="">
          <div class="spanEvent" [ngClass]="{'selected':i==0}">{{event.title}}
          </div>
        </div>
      </ng-template>
    </div>
  </div>
</div>

<ngx-slick-carousel class="carousel" #slickmodal="slick-carousel" [config]="slideConfig">
  <div ngxSlickItem *ngFor="let slide of slides" class="slide myslide">
    <img src="{{ slide.img }}" class="moods" width="100%">
  </div>
</ngx-slick-carousel>
