<div class="container-fluid">
  <div class="row lines">
    <img src="../../../../../assets/icons/partly_cloudy.png" class="midday">
    <img src="../../../../../assets/icons/cloudy.png" class="night">
    <img src="../../../../../assets/icons/rain.png" class="morning">
    <div class="curvedLine"></div>
    <div class="timeLine"></div>
    <div class="emptyEvent selected"></div>
  </div>

</div>

<ngx-slick-carousel class="carousel" #slickmodal="slick-carousel" [config]="slideConfig">
  <div ngxSlickItem *ngFor="let slide of slides" class="slide myslide">
    <img src="{{ slide.img }}" class="moods" width="100%">
  </div>
</ngx-slick-carousel>
