<div class="container-fluid">
  <div class="row" style="border-bottom:1px solid rgba(154, 154, 154, 0.178)">
    <div class="col-6 degrees">
      15°
    </div>
    <div class="col-6 info">
      <div class="row" class="description">
        Partly Cloudy
      </div>
      <div class="row" class="place">
        Today, Heraklion
      </div>
    </div>
  </div>
  <div class="row icons">
    <div class="col-4">
      <div class="row">Morning</div>
      <div class="row">
        <img src="../../../../../assets/icons/cloudy.png" alt="">
      </div>
      <div class="row">12°-18°</div>
    </div>
    <div class="col-4">
      <div class="row">Evening</div>
      <div class="row">
        <img src="../../../../../assets/icons/partly_cloudy.png" alt="">
      </div>
      <div class="row">12°-18°</div>
    </div>
    <div class="col-4">
      <div class="row">Night</div>
      <div class="row">
        <img src="../../../../../assets/icons/rain.png" alt="">
      </div>
      <div class="row">12°-18°</div>
    </div>
  </div><!-- FIXME: Recomendations  this maybe become dynamic from weather api-->
  <div class="row customTab">
    <div class="tab"></div>
  </div>
  <div class="row recomendation">
    Its cold outside maybe you should get well dressed
  </div>
</div>
