<!-- <div class="container">
  <div @items *ngFor="let notification of notifications;let i=index">
    <div *ngIf="3>i" class="row notification">
      <div class="col-1">
        <div [ngStyle]="{'background-color':  notification.severity }" class="severity">
        </div>
      </div>
      <div class="col-11">
        <div class="row type">
          {{notification.type}}
        </div>
        <div class="row text">
          {{notification.text}}
        </div>
      </div>
    </div>
  </div>
</div> -->

<div id="notification0" class="bubble xleft">
  <div class="message"></div>
</div>

<div id="notification1" class="bubble xright">
  <div class="message"></div>
</div>


<div id="notification2" class="bubble xmid">
  <div class="message"></div>
</div>

<!-- FIXME: here a pipe adding dots at the end  and remove button for click and add a sound -->
