 <div class="container">
   <div (click)="openModal()" id="chart" class="chart"></div>
   <span style="font-size: 24px">Notifications</span>
 </div>
 <!-- (click)="ngxSmartModalService.getModal('myModal').open()" -->
 <div id="notification0" class="bubble xleft">
   <div class="message"></div>
 </div>

 <div id="notification1" class="bubble xright">
   <div class="message"></div>
 </div>

 <div id="notification2" class="bubble xmid">
   <div class="message"></div>
 </div>

 <ngx-smart-modal #myModal identifier="myModal">
   <div *ngIf="chartJson.children.length>0;else noNotification" id="chart2" class="chart"></div>
   <ng-template #noNotification>
     <img class="nonotification" src="../../../../assets/images/no_notifications.png">
   </ng-template>
 </ngx-smart-modal>
