 <div class="container" id="notifications" (click)="openModal()">
   <div id="chart" class="chart"></div>
   <span style="font-size: 24px">Notifications</span>
 </div>

 <div id="notification0" class="bubble xleft">
   <div class="message"></div>
 </div>

 <div id="notification1" class="bubble xright">
   <div class="message"></div>
 </div>

 <div id="notification2" class="bubble xmid">
   <div class="message"></div>
 </div>

 <ngx-smart-modal #myModal identifier="myModal">
   <div id="notification_modal" (click)="closeModal()">
     <div *ngIf="chartJson.children.length>0;else noNotification" id="chart2" class="chart"></div>
     <ng-template #noNotification>
       <img class="nonotification" src="../../../../assets/images/no_notifications.png">
     </ng-template>
   </div>

 </ngx-smart-modal>
