plyr {
  margin-left: -15px;
}

:host ::ng-deep .plyr__controls {
  background: unset !important;
  margin-bottom: 80px !important;
  transition: all 0.5s;
}


:host ::ng-deep .plyr__controls__item.plyr__control {

  &[data-plyr="fullscreen"] {
    display: none;
  }

  &[data-plyr="play"] {
    display: none;
  }

  &[data-plyr="pip"] {
    display: none;
  }
}

:host ::ng-deep .plyr__progress__buffer {
  display: none;
}

:host ::ng-deep .plyr__controls__item.plyr__menu {
  display: none;
}

:host ::ng-deep .plyr__control.plyr__control--overlaid {
  &[data-plyr="play"] {
    display: none;
  }
}

:host ::ng-deep input[type=range]::-webkit-slider-runnable-track {
  height: 19px;
  color: red;
  border: none;
  transition: all 0.5s;
}

:host ::ng-deep input[type=range]::-webkit-slider-thumb {
  visibility: hidden;
}

:host ::ng-deep .plyr__controls__item.plyr__volume {
  display: none;
}

:host ::ng-deep .plyr_title {
  transition: all 0.5s;
  font-size: 33px;
  color: white;
  position: absolute;
  margin-top: 50px;
  margin-left: 50px;
  display: none;
}

.suggested {
  position: absolute;
  top: 58px;
  right: 30px;
  background-color: #ffffff38;
  width: 350px;
  transition: all 0.5s;

  &.minimized {
    transition: all 0.5s;
    transform: scale(0.9) translate(-100px, 60px);
  }

  ul {
    margin: auto;
    padding-left: 0px;
    margin-top: 20px;
  }

  li {
    margin-bottom: 20px;
    list-style: none;
  }

  img {
    width: 250px;
    height: 160px;
    margin: auto;
    display: block;
  }

  span {
    text-align: center;
    display: block;
    word-break: break-word;
    width: 250px;
  }
}

.backIcon {
  transition: all 0.5s;
  position: absolute;
  color: white;
  top: 155px;

  img {
    width: 60px;
    margin-left: 15px;
    margin-top: 15px;
  }
}


:host ::ng-deep .plyr__controls {
  // display: none; FIXME:
}

.media_controllers {
  bottom: 5px;
  left: 136px;

  &.minimized {
    transition: all 0.5s;
    transform: translate(-116px, 0px);
  }
}

:host ::ng-deep .fab-menu {
  width: 75px !important;
  height: 75px !important;

  .hiddenItem {
    display: none;
  }

  .item {
    width: unset;
    left: 50px;
  }
}

:host ::ng-deep .fab-toggle {
  width: 75px !important;
  height: 75px !important;

  .material-icons {
    position: absolute;
    left: 18px;
    top: 15px;
    font-size: 40px !important;
  }
}

:host ::ng-deep .fab-item {
  width: 60px !important;
  background-color: rgba(228, 6, 6, 0.712) !important;
  height: 60px !important;

  .material-icons {
    line-height: 2 !important;
    font-size: 30px !important;
    position: absolute;
    left: 15px;
  }
}


.mediaController {
  position: absolute;
  bottom: 5px;
  display: inline-block;
  width: 75px !important;
  height: 75px !important;
  transition: all 0.5s;
  background-color: #0C3958;
  border-radius: 50%;
  border: none;
  -webkit-box-shadow: 0px 0px 5px 4px rgba(194, 194, 194, 0.62);
  -moz-box-shadow: 0px 0px 5px 4px rgba(194, 194, 194, 0.62);
  box-shadow: 0px 0px 5px 4px rgba(194, 194, 194, 0.62);

  .mat-icon {
    position: relative;
    font-size: 40px;
    color: white;
    top: 3px;
    right: 7.5px;
  }

  &#fullscreen {
    left: 145px;

    &.minimized {
      transition: all 0.5s;
      transform: translate(-116px, 0px);
    }
  }

  &#prevSong {
    left: 285px;

    &.minimized {
      transition: all 0.5s;
      transform: translate(-116px, 0px);
    }
  }

  &#playSong {
    left: 425px;

    &.minimized {
      transition: all 0.5s;
      transform: translate(-116px, 0px);
    }
  }

  &#nextSong {
    left: 565px;

    &.minimized {
      transition: all 0.5s;
      transform: translate(-116px, 0px);
    }
  }
}

:host ::ng-deep .mat-progress-bar-fill::after {
  background-color: #0C3958 !important;
}

.volume {
  position: absolute;
  top: 50%;
  transform: rotate(270deg);
  height: 40px;
  width: 250px;
  border-radius: 20px;
  left: 80px;
  display: none;

  &.minimized {
    left: -50px;
    top: 46%;
  }
}

:host ::ng-deep .mat-progress-bar-buffer {
  background-color: white;
}
