@import "~ngx-smart-modal/ngx-smart-modal";

.col-10 {
  flex: 0 0 82%;
  max-width: 82%;
}

.col-2 {
  padding: 0px;
  flex: 0 0 18%;
  max-width: 18%;
}


body {
  height: 100%;
  width: 100%;
  background-color: #0C3958;
  overflow: hidden;
  color: white;
  // cursor: none;
}


.cursor {
  height: 40px;
  width: 40px;
  background-size: 40px 40px;
  position: absolute;
  top: 35px;
  left: 30px;
  background-repeat: no-repeat;
}

#cursor {
  z-index: 5000000;
  position: absolute;
  display: none;
}

.progressLoading {
  height: 140px;
}

.progressLoading>svg {
  height: 100%;
}

.cursor.right {
  background-image: url("./assets/images/cursor_right.png");
}

.cursor.left {
  background-image: url("./assets/images/cursor_left.png");
}

.cursor.tap {
  background-image: url("./assets/images/tap.png");
}

.footer {
  position: absolute;
  width: 100vw;
  justify-content: center;
  bottom: -48%;
}

.mychart {
  background-color: white;
  border-radius: 100%;
}