.col-10 {
  flex: 0 0 82%;
  max-width: 82%;
}

.col-2 {
  padding: 0px;
  flex: 0 0 18%;
  max-width: 18%;
}


body {
  height: 100%;
  width: 100%;
  background-color: #0C3958;
  overflow: hidden;
  color: white;
  // cursor: none;
}


.cursor {
  //FIXME: might make it even smaller for more precision
  height: 70px;
  width: 70px;
  background-size: 70px 70px;
  position: absolute;
  top: 35px;
  left: 30px;
  background-repeat: no-repeat;
}

#cursor {
  z-index: 10;
  position: absolute;
  display: none;
}

.progressLoading {
  height: 140px;
}

.progressLoading>svg {
  height: 100%;
}

.cursor.right {
  background-image: url("./assets/images/cursor_right.png");
}

.cursor.left {
  background-image: url("./assets/images/cursor_left.png");
}


.footer {
  position: absolute;
  width: 100vw;
  justify-content: center;
  bottom: -48%;
}
