.container-fluid {
  background-color: white;
  color: black;
  height: 92.3vh; //FIXME: check the mirror to see if it works nice 
  box-shadow: 13px 17px 4px rgba(0, 0, 0, 0.33);
}

.header {
  padding-top: 5px;
  justify-content: center;
  font-size: 24px;
  color: white;
  min-height: 45px;
  background-color: #0B1D2A;
}
